@model OutOfOffice.Application.Dto.Employees.EmployeeIndexDto
@using OutOfOffice.Core
@using static OutOfOffice.Core.Enums

<h2>Edit Employee</h2>

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="ID" />

    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Subdivision"></label>
        <select asp-for="Subdivision" class="form-control">
            @foreach (Subdivision subdivision in Enum.GetValues(typeof(Subdivision)))
            {
                if (subdivision == Model.Subdivision)
                {
                    <option value="@subdivision" selected="selected">@subdivision</option>
                }
                else
                {
                    <option value="@subdivision">@subdivision</option>
                }
            }
        </select>
        <span asp-validation-for="Subdivision" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Position"></label>
        <select asp-for="Position" class="form-control">
            @foreach (Position position in Enum.GetValues(typeof(Position)))
            {
                if (position == Model.Position)
                {
                    <option value="@position" selected="selected">@position</option>
                }
                else
                {
                    <option value="@position">@position</option>
                }
            }
        </select>
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" class="form-control">
            @foreach (Status status in Enum.GetValues(typeof(Status)))
            {
                if (status == Model.Status)
                {
                    <option value="@status" selected="selected">@status</option>
                }
                else
                {
                    <option value="@status">@status</option>
                }
            }
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PeoplePartnerId"></label>
        <input asp-for="PeoplePartnerId" class="form-control" />
        <span asp-validation-for="PeoplePartnerId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OutOfOfficeBalance"></label>
        <input asp-for="OutOfOfficeBalance" class="form-control" />
        <span asp-validation-for="OutOfOfficeBalance" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
